# backups
backup
old
*.orig
*.diff
*.old
*.zip
*~
*.swp

# (pdf)LaTeX output files
*.out
*.glo
*.cls
*.rtx
*.aux
*.dvi
*.log
*.toc
*.pdf
*.ps
*.lof

# makeindex
*.ind
*.ilg
*.idx
*.nlo
*.nls

# BibTeX output files
*.bbl
*.blg
*.bst

# BibLaTeX output files
*.bcf
*.run.xml

# bitmap sources for EPS figures
*.tif
*.png

# office drafts
*.doc
*.xls

# LaTeX frontend files
auto
*.bak
*.backup
*.sav
*.prj
*.synctex
*.synctex.gz
